.keyboard-box {
    height: 350px;
    position: fixed;
    top: 700px;
    width: 1200px;
    padding: 10px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.6s linear;
    left: 22%;
}

.keyboard-trans {
    transform: translateY(400px);
}

.keyboard-rows-box {
    color: white;
    font-size: 36px;
    height: 50px;
    width: 100%;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kyeboard-rows-box-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 79px;
    height: 77px;
    background-color: #192136;
    border-radius: 10px;
}

.enter {
    background-image: url(http://webapp.tivimivi.net/js/KeyBoard/images/enter.png);
    width: 168px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.shift {
    background-image: url(http://webapp.tivimivi.net/js/KeyBoard/images/shift.png);
    width: 168px;
    height: 77px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.backspace {
    background-image: url(http://webapp.tivimivi.net/js/KeyBoard/images/back.png);
    width: 168px;
    height: 77px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.space {
    background-image: url(http://webapp.tivimivi.net/js/KeyBoard/images/space.png);
    width: 168px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}