.keyboard-box {
    height: 265px;
    position: fixed;
    top: 800px;
    width: 850px;
    padding: 10px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.6s linear;
    left: 30%;
    background-color: #121C30;
}

.keyboard-trans {
    transform: translateY(300px);
}

.keyboard-rows-box {
    color: white;
    font-size: 36px;
    height: 50px;
    width: 840px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kyeboard-rows-box-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px solid rgb(45, 45, 45);
}

.enter {
    background-image: url(http://webapp.tivimivi.net/js/KeyBoard/images/enter.png);
    width: 122px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.shift {
    background-image: url(http://webapp.tivimivi.net/js/KeyBoard/images/shift.png);
    width: 122px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.backspace {
    background-image: url(http://webapp.tivimivi.net/js/KeyBoard/images/back.png);
    width: 122px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.space {
    background-image: url(http://webapp.tivimivi.net/js/KeyBoard/images/space.png);
    width: 122px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}