aside {
    background-color: #121c30d6;
    height: 100vh;
    width: 150px;
    transition: 0.3s linear;
    position: absolute;
    left: 0;
    z-index: 9999;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

aside:hover {
}

.aside-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.aside-box_logo {
    transition: 0.4s;
    width: 80px;
    margin-top: 50px;
    border-radius: 30px;
    position: fixed;
}

.aside-box_menu_item-poster{
    width: 75px;
    height: 80px;
}

.active-inp {
    outline: 4px solid white;
}

.active-border {
    outline: 4px solid white;
}

.back-liner {
    background: linear-gradient(89.94deg, rgba(169, 158, 241, 0.5) 0.6%, rgba(60, 76, 167, 0.5) 100.32%);background: linear-gradient(89.94deg, rgba(169, 158, 241, 0.5) 0.6%, rgba(60, 76, 167, 0.5) 100.32%);
}

.width {
    width: 0px;
}

.aside-box_menu {margin-top: 350px;width: 100%;display: flex;flex-direction: column;align-items: center;}

.aside-box_menu_item {overflow: hidden;margin-top: 20px;color: white; border-radius: 10px; font-size: 25px;font-family: sans-serif;width: 120px;transition: 0.4s;height: 80px;display: flex;align-items: center;background-color: #192136;padding: 0px 23px;margin-top: 10px;}

.aside-box_menu_item-title {
    overflow: hidden;
    margin-left: 20px;
    transition: 0.4s;
}